<div class="page-header" style="margin-bottom: 20px;">
  <div class="row">
    <div class="col-md-4" style="text-align:left;">
      <div id="user_nav">
        <% if user_signed_in? %>
          Logged in as <%= current_user.email %>
          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </div>
      <div>
        <%= link_to "Informatics Report", profile_show_path %>
      </div>
    </div>
    <div class="col-md-3" style="padding:0px; text-align:right;">
      <p>
        <%= link_to "Homepage", "/", class: "btn btn-primary" %>
      </p>
    </div>
    <div class="col-md-2" style="padding:0px; text-align:right;">
      <p>
        <%= link_to "Upload Decks", new_deck_path, class: "btn btn-primary" %>
      </p>
    </div>
    <div class="col-md-2" style="padding: 0px; text-align:right;">
      <p>
        <%= link_to "Account Settings",  profile_index_path, class: "btn btn-primary" %>
      </p>
    </div>
    <div class="col-md-1" style="padding: 0px; text-align:right;">
      <p>
        <%= link_to "FAQ", profile_faq_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>
</div>

<div class="page-header-1" style="margin-bottom: 15px; text-align:center;">
  <h1>
    <%= image_tag("http://i.imgur.com/v8qikwv.png", :size=>"500x100") %>
  </h1>
</div>

<div id='test' style='visibility:hidden;'>
  <%= @user.student_year%>
</div>

<div class="well">
  
  <%= form_for @filterrific do |f| %>
    <div class="row">
     <div class="title" style="font-size:25px; text-align:center;">
       <label> Filter </label>
     </div>
     <div class="title" style="font-size:15px;">
       <label> Classes </label>
     </div>
      <div class="col-md-4">
        <div class="form-group">
          <div id='one'>
            <label>All MS1 Classes</label>
            <%= f.radio_button :with_class_name_id, '', :checked => true %></br>
            <label>Anatomy</label>
            <%= f.radio_button :with_class_name_id, 'Anatomy & Embryology' %></br>
            <label>Neurosciences</label>
            <%= f.radio_button :with_class_name_id, 'Neurosciences' %></br>
            <label>Histology</label>
            <%= f.radio_button :with_class_name_id, 'Histology' %>
          </div>
          <div id='two'>
            <label>All MS2 Classes</label>
            <%= f.radio_button :with_class_name_id, '', :checked => true %></br>
            <label>Behavioral Science and Medical Ethics II</label>
            <%= f.radio_button :with_class_name_id, 'Behavioral Science and Medical Ethics II' %></br>
            <label>Medical Microbiology</label>
            <%= f.radio_button :with_class_name_id, 'Medical Microbiology' %></br>
          </div>
          <div id='three'>
            <label>All MS3 and MS4 Classes</label>
            <%= f.radio_button :with_class_name_id, '', :checked => true %></br>
            <label>Obstetrics & Gynecology</label>
            <%= f.radio_button :with_class_name_id, 'Obstetrics & Gynecology' %></br>
            <label>Surgery</label>
            <%= f.radio_button :with_class_name_id, 'Surgery' %></br>
            <label>Inpatient & Ambulatory Medicine</label>
            <%= f.radio_button :with_class_name_id, 'Inpatient & Ambulatory Medicine' %></br>
            <label>Pediatrics</label>
            <%= f.radio_button :with_class_name_id, 'Pediatrics' %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div id='one'>
            <label>Behavioral Science and Medical Ethics</label>
            <%= f.radio_button :with_class_name_id, 'Behavioral Science and Medical Ethics' %></br>
            <label>Medical Genetics</label>
            <%= f.radio_button :with_class_name_id, 'Medical Genetics' %></br>
            <label>Medical Physiology</label>
            <%= f.radio_button :with_class_name_id, 'Medical Physiology' %>
          </div>
          <div id='two'>
            <label>Clinical Pathology</label>
            <%= f.radio_button :with_class_name_id, 'Clinical Pathology' %></br>
            <label>Medical Pathology</label>
            <%= f.radio_button :with_class_name_id, 'Medical Pathology' %></br>
            <label>Clinical Foundations II</label>
            <%= f.radio_button :with_class_name_id, 'Clinical Foundations II' %>
          </div>
          <div id='three'>
            <label>Psychiatry</label>
            <%= f.radio_button :with_class_name_id, 'Psychiatry' %></br>
            <label>Radiology</label>
            <%= f.radio_button :with_class_name_id, 'Radiology' %></br>
            <label>Neurosciences</label>
            <%= f.radio_button :with_class_name_id, 'Neurosciences' %></br>
            <label>Clinical Foundations III</label>
            <%= f.radio_button :with_class_name_id, 'Clinical Foundations III' %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div id='one'>
            <label>Immunology</label>
            <%= f.radio_button :with_class_name_id, 'Immunology' %></br>
            <label>Clinical Foundations</label>
            <%= f.radio_button :with_class_name_id, 'Clinical Foundations' %></br>
            <label>Medical Biochemistry and Molecular Biology</label>
            <%= f.radio_button :with_class_name_id, 'Medical Biochemistry and Molecular Biology' %></br>
          </div>
          <div id='two'>
            <label>General & Systemic Pathology</label>
            <%= f.radio_button :with_class_name_id, 'General & Systemic Pathology' %>
          </div>
          <div id='three'>
            <label>Family Medicine</label>
            <%= f.radio_button :with_class_name_id, 'Family Medicine' %></br>
            <label>Senior Intensive Care Unit</label>
            <%= f.radio_button :with_class_name_id, 'Senior Intensive Care Unit' %></br>
            <label>CF IV</label>
            <%= f.radio_button :with_class_name_id, 'CF IV' %></br>
            <label>Senior Sub Internship</label>
            <%= f.radio_button :with_class_name_id, 'Senior Sub Internship' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Topic</label>
          <%= f.text_field :with_topic_id, :class => 'filterrific-periodically-observed form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Professor</label>
          <%= f.text_field :with_professor_id, :class => 'filterrific-periodically-observed form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Upload Date</label>
          <%= f.text_field :with_created_at_gte, :placeholder => "yyyy-mm-dd", :class => 'filterrific-periodically-observed form-control' %>
        </div>
      </div>
    </div>
    
  <% end %>
</div>

<div id="results">
  <%= render :partial => 'decks/list', :locals => { :decks => @decks } %>
</div>

<script>
  function showClasses(){
    var studentYear = document.getElementById('test').innerHTML;
    console.log("yay");
    if (studentYear == 1){
      $('div#two').hide();
      $('div#three').hide();
    } else if(studentYear == 2){
      $("div#one").hide();
      $("div#three").hide();
    } else{
      $("div#two").hide();
      $("div#one").hide();
    }
    console.log(studentYear);
  }

  
/*just runs all the javascript only when the DOM is ready*/
  $(document).ready(function(){
    showClasses();
  });  

 
  
</script>

