<div class="page-header" style="margin-bottom: 20px;">
  <div class="row">
    <div class="col-md-4" style="text-align:left;">
      <div id="user_nav">
        <% if user_signed_in? %>
          Logged in as <%= current_user.email %>
          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </div>
      <div>
        <%= link_to "Informatics Report", profile_show_path %>
      </div>
    </div>
    <div class="col-md-3" style="padding:0px; text-align:right;">
      <p>
        <%= link_to "Download Decks", "/", class: "btn btn-primary" %>
      </p>
    </div>
    <div class="col-md-2" style="padding:0px; text-align:right;">
      <p>
        <%= link_to "Upload Decks", new_deck_path, class: "btn btn-primary" %>
      </p>
    </div>
    <div class="col-md-2" style="padding: 0px; text-align:right;">
      <p>
        <%= link_to "Account Settings",  profile_index_path, class: "btn btn-primary" %>
      </p>
    </div>
    <div class="col-md-1" style="padding: 0px; text-align:right;">
      <p>
        <%= link_to "FAQ", profile_faq_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>
</div>

<center>
  <%= link_to(image_tag("http://i.imgur.com/v8qikwv.png", :size=>"500x100", :alt=>"Ankishare Home", :title=>"Home", :controller=>"decks_controller", :action=>"index"),"/")%>
</center>

<h1> My Profile </h1>


<%= link_to "Change Your User Information", edit_user_registration_path %>

  
<h3> View/Delete your Decks </h3>
  <%= render "list" %>

