<style>
h2{
font-size: 15px;
font-family: Lucida Sans Unicode;
line-height:20%;

}
h3{
font-size: 35px;
font-family: Lucida Sans Unicode;
line-height:30%;
}
</style>

<h1>
<div align="center"><img src="http://i.imgur.com/v8qikwv.png" title="Logo" width="1000" height="213"/></div>
<!--<%= link_to(image_tag("http://i.imgur.com/v8qikwv.png", :alt => "logo", :title => "Home"), "/") %>-->
</h1>
<br>
<br>
<br>
<center>
 <h2><span style='color:blue'>AnkiShare</span> allows students to share their Anki flashcard decks. </h2>
 <h2>View, edit, and download decks uploaded by your peers that have been used specifically for your classes and professors. </h2>
 <h2>Upload your own decks to help your fellow classmates and collaborate.</h2></br>
 <h2> <b> Sign up below to get started! </b> </h2>
</center>
</br>
<center>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>
</center>
</br>
<center>
<%= render "devise/shared/links" %>
</center>
