<style>
h2{
font-size: 35px;
font-family: Lucida Sans Unicode;
line-height:30%;

}
</style>
<h1>
<div align="center"><a href="ankishare.com"><img src="http://i.imgur.com/v8qikwv.png" title="Logo" width="1000" height="213"/></a>
</div>
</h1>

<br>

<h2>
<center>welcome</center><br><br><br>
</div>

</h2>
<center>
<%= form_tag sessions_path do%>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[ :email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>

  <p class="button"><%= submit_tag "Log in" %></p>
</center>
<% end %>
